.caja_recuperacion {
    background-color: white;
    padding: 70px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.caja_recuperacion h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black; 
    margin-top: -40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.apartado{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 25px;
}

.apartado input{
    display: block;
    background: #F2F2F2;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.apartado input:focus{
    border: 2px solid #00FFFF;
    background: white;
}

.EnviaCorreo {
    background-color: #51abf5;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    text-align: center;
}
.EnviaCorreo:hover{
    background-color: #00CCCC;
}



/*Adiciones diseño del componente Campos_Reestablecimiento*/
.contenedor_nueva_contraseña, .contenedor_confirmacion_contraseña {
    position: relative;
    display: flex;
    align-items: center;
}
.contenedor_nueva_contraseña input, .contenedor_confirmacion_contraseña input {
    width: 100%;
    padding-right: 40px; /* Espacio para el icono */
}

.ojo {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: #888;
    user-select: none;
    transition: color 0.3s;
}
.ojo:hover {
    color: #00CCCC;
}

.RestaurarC {
    background-color: #51abf5;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    text-align: center;
}

.RestaurarC:hover{
    background-color: #00CCCC;
}
